.App-Category-Header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem 3rem
}

.App-Category-Header article {
  display: flex;
  width: 60%;
  flex-flow: column nowrap;
  align-items: center;

}

.App-Category-Header h2 {
  font-size: 2.5rem;
}

.App-Category-Header p {
  width: 80%;
  text-align: center;
}

.App-Category-Header img {
  width: 11rem;
  height: 11rem;
}

.App-Glider-Container {
  padding: 0 4rem;
  margin-top: 1.5rem;
}

.App-Glider-Container header {
  display: flex;
  justify-content: space-between;
}

.App-Glider-Container h3 {
  font-weight: bolder;
  font-size: 1.2rem;
}

.App-Glider-Container .glider-track {
  padding: 2rem 0;
}

.App-Card-Wrapper {
  padding: 1rem;
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(0,0,0, 0.2);
  height: 20rem;
  width: 16rem;
  position: relative;
  margin: 0 2rem;
}

.App-Card-Wrapper:hover  {
  background-color: rgb(239, 210, 169);
  filter: drop-shadow(7.5px 6px 7.5px #0c0c0c);
}

.App-Card-Body {
  text-align: center;
}

.App-Card-Body img {
  height: 6rem;
  width: 10rem;
  border-radius: 10px;
  margin-top: 1rem;
}

.App-Card-Body h4 {
  margin-top: 0.4rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.App-Card-Body input {
  width: 100%;
}

.App-Card-Body p {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.App-Icons:nth-of-type(1) {
  position: absolute;
  top: 0;
}

.App-Icons:nth-of-type(2) {
  position: absolute;
  top: 0;
  right: 0;
}